/*****************************
** COMMAND C
** design + photography
** info@commandc.com
**
******************************/

/***************
* Layout
****************/

* {
	margin:0;
	padding:0;
}
body{
	font-family: arial,helvetica,sans-serif;
	font-size: 13px;
	text-align: center;
	background: url(../images/bgstripe.png);
	color: #000;
	position: relative;
}
div#container {
	width: 880px;
	margin: 20px auto;
	padding: 0 10px;
	text-align: left;
	background: #fff;
	position: relative;
}
div#header {
	padding: 9px 20px 11px 15px;
	height: 55px;
	border-bottom: 1px dotted #333;
	text-align: right;
}
div#main {
	min-height: 420px;
	position: relative;
}
div#menu {
	width: 190px;
	padding: 25px 5px 20px 15px;
	float: left;
}
div#sidebar {
	width: 185px;
	float: right;
	padding: 3px 15px 0 0;
}
div#content {
	width: auto;
	margin: 0 203px 0 213px;
	padding: 30px 0 20px 0;
}
div#footer {
	height: 70px;
	padding: 10px;
	margin: 0 40px 0 19px;
	border-top: 1px dotted #333;
	position: relative;
	text-align: left;
}
div#admin-controls {
	position: fixed;
	width: 33%;
	top: 5px;
	right: 5px;
	background: #fff;
	border: 1px solid #ff0000;
	text-align: left;
	padding: 10px;
}
div#admin-controls img {
	vertical-align: bottom;
}
div#admin-controls div {
	float: left;
	padding: 5px;
}

/***************
* Common elements
****************/

img#logo {
	float: left;
	margin-top: 5px;
}
p#seo {
	font-size: 10px;
	color: #ccc;
	margin: 0 0 10px 0;
}
p#tagline {
	font-size: 14px;
	font-weight: bold;
	color: #000;
	margin: 0;
}
img#contact-us-button {
	position: absolute;
	right: 0;
	top: 18px;
}
img#contact-us-rabbit{
	position: absolute;
	right: -40px;
	top: -33px;
}
.modal {
	background: #fff;
	border: 2px solid #ff0000;
	text-align: left;
	padding: 15px;
	width: 35%;
	margin: 0 auto;
	position: relative;
}
img#big-rabbit {
	position: absolute;
	top: -200px;
	right: -155px;
}
a.modal-overlay-hide:link,
a.modal-overlay-hide:visited,
a.modal-overlay-hide:hover,
a.modal-overlay-hide:active {
	padding: 3px 5px;
	background: #000;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	border: 2px solid #666;
	position: absolute;
	bottom: 15px;
	right: 15px;
}
img {
	border: 0;
	vertical-align: middle;
}
p {
	margin: 15px 0;
}
p.top {
	margin-top: 0;
}
p.bottom {
	margin-bottom: 0;
}
a {
	outline: none;
}
h1,h2,h3 {
	margin: 0;
	font-size: 12px;
	font-weight: normal;
}
.nodisplay {
	display: none;
}
optgroup option {
	margin-left: 10px;
}
#sortable_categories_0 {
	list-style: none;
	font-weight: bold;
}
#sortable_categories_0 ul {
	margin: 0 0 15px 15px;
	font-weight: normal;
	list-style: none;
}
div#client_login input {
	margin: 4px 2px 4px 0;
}

/***************
* Main Menu
****************/


/***************
* Text Formats
****************/

.bold {
	font-weight: bold;
}
.underline {
	text-decoration: underline;
}
.italic {
	font-style: italic;
}
.serif {
	font-family: "Times New Roman", Times, serif;
}
.sans {
	font-family: Arial, Helvetica, sans-serif;
}
.tiny {
	font-size: 8px;
}
.small {
	font-size: 10px;
}
.medium {
	font-size: 12px;
}
.large {
	font-size: 16px;
}
.huge {
	font-size: 84px;
}
.nowrap {
	white-space: nowrap;
}
.upper {
	text-transform: uppercase;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}
.stretch {
	letter-spacing: 2px;
}
.line-below {
	margin-bottom: 10px;
}
.line-above {
	margin-top: 10px;
}
.white {
	color: #fff;
}
.red {
	color: #ff0000;
}
.blue {
	color: #8cc5d2;
}
.lightgray {
	color: #ccc;
}

/***************
* Hyperlinks
****************/

a:link {
	color: #000;
	text-decoration: none;
}
a:visited {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: #ff0000;
	text-decoration: none;
}
a:active {
	color: #000;
	text-decoration: none;
}
a.current:link {
	color: #ff0000;
	text-decoration: none;
}
a.current:visited {
	color: #ff0000;
	text-decoration: none;
}
a.current:hover {
	color: #ff0000;
	text-decoration: none;
}
a.current:active {
	color: #ff0000;
	text-decoration: none;
}
a.red:link {
	color: #ff0000;
	text-decoration: none;
}
a.red:visited {
	color: #ff0000;
	text-decoration: none;
}
a.red:hover {
	color: #000;
	text-decoration: none;
}
a.red:active {
	color: #ff0000;
	text-decoration: none;
}

/***************
* Main Menu
****************/
.mainmenu {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-weight: bold;
}
.mainmenu li {
	white-space: nowrap;
}
.mainmenu a:link {
	color: #000;
	text-decoration: none;
}
.mainmenu a:visited {
	color: #000;
	text-decoration: none;
}
.mainmenu a:hover {
	color: #ff0000;
	text-decoration: none;
}
.mainmenu a:active {
	color: #000;
	text-decoration: none;
}
.mainmenu a.current:link {
	color: #ff0000;
	text-decoration: none;
}
.mainmenu a.current:visited {
	color: #ff0000;
	text-decoration: none;
}
.mainmenu a.current:hover {
	color: #ff0000;
	text-decoration: none;
}
.mainmenu a.current:active {
	color: #ff0000;
	text-decoration: none;
}

/* Submenus */

.submenu, .subsubmenu {
	list-style: none;
	padding: 0;
	margin: 0;
}
.submenu li {
	padding: 2px 10px;
	font-size: 13px;
	font-weight: bold;
}
.subsubmenu li {
	margin-left: 15px;
	padding: 2px 10px;
	font-size: 11px;
	font-weight: bold;
}
.submenu a {
	padding: 2px 10px 4px 10px;
}
.submenu a:link {
	color: #666;
	background: #fff;
	text-decoration: none;
}
.submenu a:visited {
	color: #666;
	background: #fff;
	text-decoration: none;
}
.submenu a:hover {
	color: #fff;
	background: #8bc3d2;
	text-decoration: none;
}
.submenu a:active {
	color: #666;
	background: #fff;
	text-decoration: none;
}
.submenu a.current:link {
	color: #fff;
	background: #8bc3d2;
	text-decoration: none;
}
.submenu a.current:visited {
	color: #fff;
	background: #8bc3d2;
	text-decoration: none;
}
.submenu a.current:hover {
	color: #fff;
	background: #8bc3d2;
	text-decoration: none;
}
.submenu a.current:active {
	color: #fff;
	background: #8bc3d2;
	text-decoration: none;
}
.subsubmenu a {
	padding: 1px 3px;
}
.subsubmenu a:link,
.subsubmenu a:visited,
.subsubmenu a:active {
	color: #333;
}
.project-list {
	margin: 5px 0;
}
.project-list li {
	margin-left: 10px;
	padding: 0;
	font-size: 10px;
	font-weight: normal;
	list-style: none;
}
.project-list a {
	padding: 0;
}
.project-list a:link {
	color: #666;
	text-decoration: none;
}
.project-list a:visited {
	color: #666;
	text-decoration: none;
}
.project-list a:hover {
	color: #ff0000;
	background: #fff;
	text-decoration: none;
}
.project-list a:active {
	color: #666;
	text-decoration: none;
}
.project-list a.current:link {
	color: #ff0000;
	text-decoration: none;
	background: #fff;
}
.project-list a.current:visited {
	color: #ff0000;
	text-decoration: none;
	background: #fff;
}
.project-list a.current:hover {
	color: #ff0000;
	background: #fff;
	text-decoration: none;
	background: #fff;
}
.project-list a.current:active {
	color: #ff0000;
	text-decoration: none;
	background: #fff;
}

/***************
* Home
****************/
.home div#content {
	text-align: center;
}
p#home-copy {
	color: #000;
	font-size: 20px;
	width: 350px;
	text-align: left;
	margin: 70px auto 0 auto;
}
#recent-projects {
	margin-top: 40px;
}
.recent-project {
	margin: 5px 0;
}
.recent-project img {
	border: 1px solid #ccc;
}

/***************
* Who We Are
****************/
.about p {
	font-size: 13px;
}
img#about-rabbit {
	position: absolute;
	bottom: 0;
	right: 55px;
}

/***************
* Clients
****************/
.clients div#content {
	padding-top: 60px;
}
div.client {
	float: left;
	padding: 5px;
	position: relative;
	width: 125px;
	height: 110px;
	text-align: center;
}
div.client-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
}
.sidebar-list-heading {
	font-size: 14px;
	font-weight: bold;
	color: #ff0000;
	margin: 45px 0 7px 0;
}
.sidebar-list li {
	list-style: none;
	font-size: 11px;
}

/***************
* Reviews
****************/
div.review {
	background: #fff;
}

/***************
* Projects
****************/
div#reviews_accordion {
	overflow: auto;
	height: 325px;
	position: relative;
}
div#scroll_buttons {
	position: absolute;
	top: 350px;
	left: 175px;
	width: 15px;
}
div#scroll_buttons img {
	margin-bottom: 5px;
	cursor: pointer;
}
div#tab_list {
	margin-top: 60px;
}
div#tab_list .accordion_toggle a {
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #8cc3d2;
}
div#tab_list .accordion_toggle_active a {
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
	color: #ff0000;
}
.tab-copy {
	color: #333;
}
div#tab_image_links {
	text-align: right;
	font-size: 18px;
	font-weight: bold;
	padding: 0 10px;
}
div#tab_image_links a {
	color: #8cc3d2;
	text-decoration: none;
}
div#tab_image_links a.active {
	color: #ff0000;
	text-decoration: none;
}

/***************
* Contact Us
****************/
.contact #content div {
	float: left;
	margin: 0;
}
.contact #content div.right-col {
	margin-left: 25px;
}
.contact #content label {
	color: #ff0000;
	text-transform: lowercase;
	margin-top: 8px;
}
.contact #content input, .contact #content textarea {
	border: 1px solid #000;
	margin: 5px 0 8px 0;
}
.contact #content textarea {
	width: 100%;
}
.contact #content div#contact-submit {
	float: right;
	clear: left;
}
.contact #content div#contact-submit input {
	border: 0;
	background: #8bc3d2;
	color: #fff;
	padding: 1px 5px;
}
.errorExplanation li {
	color: #ff0000;
	list-style-image: url(../images/fail.png);
	list-style-position: inside;
}

/***************
* Blog posts
****************/

#blog_posts img {
	float: left;
}
.blog-post {
	float: left;
	width: 130px;
	font-size: 10px;
	padding: 7px 0 0 5px;
}
#client_login {
	float: left;
	width: 225px;
}
