/*****************************
** COMMAND C
** design + photography
** info@commandc.com
**
******************************/

/***************
* Layout
****************/

* {
	margin:0;
	padding:0;
}
body{
	font-family: arial,helvetica,sans-serif;
	font-size: 13px;
	text-align: center;
	background: url(../images/bg_lines_new.gif);
	color: #000;
	position: relative;
}
div#container {
	width: 963px;
	margin: 20px auto;
	text-align: left;
	background: #fff;
	position: relative;
}
div#header {
	padding: 9px 14px 11px 0;
	margin: 0 14px 0 36px;
	height: 55px;
	text-align: right;
}
div#main {
	min-height: 420px;
	position: relative;
	margin: 0 26px 0 36px;
	background: transparent url(../images/hr_dot_black.gif) repeat-x scroll 0 0;
}
div#menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
div#submenu {
	float: left;
	margin-top: 40px;
	position: relative;
}
div#sidebar {
	width: 250px;
	float: right;
	padding: 3px 15px 0 0;
}
div#content {
	width: auto;
	margin: 0 268px 0 250px;
	padding: 30px 0 20px 0;
}
div#footer {
	height: 70px;
	padding: 12px 20px 12px 0;
	margin: 0 73px 0 36px;
	background: transparent url(../images/hr_dot_black.gif) repeat-x scroll 0 0;
	position: relative;
	text-align: left;
}
div#admin-controls {
	position: fixed;
	width: 33%;
	top: 5px;
	right: 5px;
	background: #fff;
	border: 1px solid #ff0000;
	text-align: left;
	padding: 10px;
}
div#admin-controls img {
	vertical-align: bottom;
}
div#admin-controls div {
	float: left;
	padding: 5px;
}
div#copyright {
	font-size: 10px;
	color: #999;
}

/***************
* Common elements
****************/

img#logo {
	float: left;
	margin-top: 5px;
}
h1#seo {
	font-size: 10px;
	color: #999;
	margin: 0 0 10px 0;
}
p#tagline {
	font-size: 14px;
	font-weight: bold;
	color: #000;
	margin: 0 7px 0 0;
	word-spacing: 1px;
	letter-spacing: -1px;
}
img#contact-us-button {
	position: absolute;
	right: 0;
	bottom: 45px;
}
img#contact-us-rabbit{
	position: absolute;
	right: -40px;
	bottom: 0;
}
img#portfolio_link {
	position: absolute;
	top: 5px;
	right: 4px;
}
img.submenu-heading {
	position: absolute;
	top: 0;
	left: 0;
}
.modal {
	background: #fff;
	border: 2px solid #ff0000;
	text-align: left;
	padding: 15px 15px 25px 15px;
	width: 35%;
	margin: 0 auto;
	position: relative;
}
img#big-rabbit {
	position: absolute;
	top: -200px;
	right: -155px;
}
a.modal-overlay-hide:link,
a.modal-overlay-hide:visited,
a.modal-overlay-hide:hover,
a.modal-overlay-hide:active {
	padding: 3px 5px;
	background: #000;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	border: 2px solid #666;
	position: absolute;
	bottom: 15px;
	right: 15px;
}
img {
	border: 0;
	vertical-align: middle;
}
p {
	margin: 15px 0;
}
p.top {
	margin-top: 0;
}
p.bottom {
	margin-bottom: 0;
}
a {
	outline: none;
}
h1,h2,h3 {
	margin: 0;
	font-size: 12px;
	font-weight: normal;
}
.nodisplay {
	display: none;
}
optgroup option {
	margin-left: 10px;
}
#sortable_categories_0 {
	list-style: none;
	font-weight: bold;
}
#sortable_categories_0 ul {
	margin: 0 0 15px 15px;
	font-weight: normal;
	list-style: none;
}
div#client_login input {
	margin: 4px 2px 4px 0;
}
div#client_login label {
	color: #999;
	font-size: 10px;
}
div#scroll_buttons {
	width: 15px;
}
div#scroll_buttons img {
	margin-bottom: 5px;
	cursor: pointer;
}

/***************
* Main Menu
****************/


/***************
* Text Formats
****************/

.bold {
	font-weight: bold;
}
.underline {
	text-decoration: underline;
}
.italic {
	font-style: italic;
}
.serif {
	font-family: "Times New Roman", Times, serif;
}
.sans {
	font-family: Arial, Helvetica, sans-serif;
}
.tiny {
	font-size: 8px;
}
.small {
	font-size: 10px;
}
.medium {
	font-size: 12px;
}
.large {
	font-size: 16px;
}
.larger {
	font-size: 22px;
}
.huge {
	font-size: 84px;
}
.nowrap {
	white-space: nowrap;
}
.upper {
	text-transform: uppercase;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}
.stretch {
	letter-spacing: 2px;
}
.line-below {
	margin-bottom: 10px;
}
.line-above {
	margin-top: 10px;
}
.white {
	color: #fff;
}
.red {
	color: #ff0000;
}
.blue {
	color: #8cc5d2;
}
.lightgray {
	color: #ccc;
}

/***************
* Hyperlinks
****************/

a:link {
	color: #000;
	text-decoration: none;
}
a:visited {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: #ff0000;
	text-decoration: none;
}
a:active {
	color: #000;
	text-decoration: none;
}
a.current:link {
	color: #ff0000;
	text-decoration: none;
}
a.current:visited {
	color: #ff0000;
	text-decoration: none;
}
a.current:hover {
	color: #ff0000;
	text-decoration: none;
}
a.current:active {
	color: #ff0000;
	text-decoration: none;
}
a.red:link {
	color: #ff0000;
	text-decoration: none;
}
a.red:visited {
	color: #ff0000;
	text-decoration: none;
}
a.red:hover {
	color: #000;
	text-decoration: none;
}
a.red:active {
	color: #ff0000;
	text-decoration: none;
}

/***************
* Main Menu
****************/
.mainmenu {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-weight: bold;
	width: 400px;
}
.mainmenu li {
	display: inline;
	margin-right: 25px;
}
.mainmenu a:link {
	color: #000;
	text-decoration: none;
}
.mainmenu a:visited {
	color: #000;
	text-decoration: none;
}
.mainmenu a:hover {
	color: #ff0000;
	text-decoration: none;
}
.mainmenu a:active {
	color: #000;
	text-decoration: none;
}
.mainmenu a.current:link {
	color: #ff0000;
	text-decoration: none;
}
.mainmenu a.current:visited {
	color: #ff0000;
	text-decoration: none;
}
.mainmenu a.current:hover {
	color: #ff0000;
	text-decoration: none;
}
.mainmenu a.current:active {
	color: #ff0000;
	text-decoration: none;
}

/* Submenus */

.submenu, .subsubmenu {
	list-style: none;
	padding: 0;
}
.submenu {
	margin: 70px 0 0 0;
}
.submenu li {
	font-size: 12px;
	font-weight: bold;
	white-space: nowrap;
	width: 130px;
	height: 17px;
	overflow: hidden;
	padding: 2px 0;
}
.submenu li.overflow {
	overflow: visible;
}
.subsubmenu li {
	margin-left: 15px;
	padding: 2px 0;
	width: 160px;
	font-size: 11px;
	font-weight: normal;
	overflow-x: hidden;
	height: auto;
}
.submenu a {
	padding: 2px 130px 2px 6px;
}
.submenu a:link {
	color: #000;
	background: #fff;
	text-decoration: none;
}
.submenu a:visited {
	color: #000;
	background: #fff;
	text-decoration: none;
}
.submenu a:hover {
	color: #000;
	background: #8bc3d2;
	text-decoration: none;
}
.submenu a:active {
	color: #000;
	background: #fff;
	text-decoration: none;
}
.submenu a.current:link {
	color: #000;
	background: #8bc3d2;
	text-decoration: none;
}
.submenu a.current:visited {
	color: #000;
	background: #8bc3d2;
	text-decoration: none;
}
.submenu a.current:hover {
	color: #000;
	background: #8bc3d2;
	text-decoration: none;
}
.submenu a.current:active {
	color: #000;
	background: #8bc3d2;
	text-decoration: none;
}
.subsubmenu a {
	padding: 1px 160px 1px 3px;
}
.project-list {
	margin: 5px 0;
}
.project-list li {
	margin-left: 10px;
	padding: 0;
	font-size: 10px;
	font-weight: normal;
	list-style: none;
}
.project-list a {
	padding: 0;
}
.project-list a:link {
	color: #666;
	text-decoration: none;
}
.project-list a:visited {
	color: #666;
	text-decoration: none;
}
.project-list a:hover {
	color: #ff0000;
	background: #fff;
	text-decoration: none;
}
.project-list a:active {
	color: #666;
	text-decoration: none;
}
.project-list a.current:link {
	color: #ff0000;
	text-decoration: none;
	background: #fff;
	font-weight: bold;
}
.project-list a.current:visited {
	color: #ff0000;
	text-decoration: none;
	background: #fff;
	font-weight: bold;
}
.project-list a.current:hover {
	color: #ff0000;
	background: #fff;
	text-decoration: none;
	background: #fff;
	font-weight: bold;
}
.project-list a.current:active {
	color: #ff0000;
	text-decoration: none;
	background: #fff;
	font-weight: bold;
}

/***************
* Home
****************/

.home #content,
.about #content {
	margin-left: 135px;
}
.home .copy {
	color: #000;
	font-size: 17px;
	width: 415px;
	text-align: left;
	margin: 60px 0 0 0;
	line-height: 22px;
}
#recent-projects {
	margin-top: 27px;
}
.recent-project {
	margin: 5px 0 10px 0;
}
.recent-project img {
	border: 1px solid #ccc;
	margin-bottom: 5px;
}

/***************
* Who We Are
****************/
img#the_scoop {
	margin-top: 60px;
}
.about .copy {
	font-size: 12px;
	width: 325px;
	line-height: 17px;
}
img#about-rabbit {
	position: absolute;
	bottom: 0;
	right: 20px;
}

/***************
* Clients
****************/
.clients div#content {
	padding-top: 155px;
	margin: 0 198px 0 133px;
	height: 300px;
}
.clients div#submenu {
	width: 130px;
}
.clients div#sidebar {
	width: 195px;
	padding: 3px 0 0 0;
}
div.client {
	float: left;
	position: relative;
	height: 100px;
	text-align: center;
	font-size: 60px;
}
div.client img {
	margin-left: -0.3em;
}
div.client div {
	position: absolute;
	right: 0;
	bottom: 15px;
}

.clients #content .top-left div,
.clients #content .top-right div,
.clients #content .bottom-left div,
.clients #content .bottom-right div {
	width: 160px;
}
.clients #content .top-middle div,
.clients #content .bottom-middle div {
	width: 210px;
}
.clients #content .top-left {
	padding: 15px 0 15px 0;
	width: 160px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.clients #content .top-middle {
	padding: 15px 0 15px 0;
	width: 210px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.clients #content .top-right {
	padding: 15px 0 15px 0;
	width: 160px;
	border-bottom: 1px solid #ccc;
}
.clients #content .bottom-left {
	padding: 15px 0 15px 0;
	width: 160px;
	border-right: 1px solid #ccc;
}
.clients #content .bottom-middle {
	padding: 15px 0 15px 0;
	width: 210px;
	border-right: 1px solid #ccc;
}
.clients #content .bottom-right {
	padding: 15px 0 15px 0;
	width: 160px;
}
.sidebar-list-heading {
	font-size: 22px;
	font-weight: bold;
	color: #ff0000;
	margin: 75px 0 7px 0;
	white-space: nowrap;
	letter-spacing: -1px;
}
.sidebar-list li {
	list-style: none;
	font-size: 11px;
}
.clients div#scroll {
	height: 270px;
	overflow: auto;
}
.clients div#scroll_buttons {
	position: absolute;
	top: 345px;
	right: 20px;
	left: auto;
}

/***************
* Clients/Reviews
****************/

.clients #submenu .submenu-heading,
.reviews #submenu .submenu-heading {
	top: 9px;
}
.clients .submenu,
.reviews .submenu {
	margin-top: 75px;
}

/***************
* Reviews
****************/
.reviews div#content {
	margin: 0 0 0 340px;
}
.reviews div#sidebar {
	width: 0;
}
div.review {
	background: #fff;
}
.reviews div#scroll_buttons {
	position: absolute;
	top: 365px;
	right: 50px;
	left: auto;
}

div#reviews_accordion {
	overflow: auto;
	width: 485px;
	height: 325px;
	position: relative;
	margin-top: 90px;
}
div#reviews_accordion .accordion_toggle {
	font-size: 14px;
}
div#reviews_accordion .accordion_toggle_active {
	font-size: 16px;
}

/***************
* Projects
****************/

.projects div#content {
	margin: 0 163px 0 273px;
	padding-top: 80px;
}
.projects .submenu-heading {
	top: 20px;
}
.projects div#submenu {
	width: 270px;
}
.projects ul.submenu {
	margin-top: 80px;
}
.projects div#sidebar {
	width: 160px;
	padding-right: 0;
}
div#tab_list {
	margin-top: 120px;
}
div#tab_list .accordion_toggle,
div#tab_list .accordion_toggle_active {
	white-space: nowrap;
	letter-spacing: -1px;
}
div#tab_list .accordion_toggle a {
	font-size: 36px;
	font-weight: bold;
	text-decoration: none;
	color: #8cc3d2;
}
div#tab_list .accordion_toggle_active a {
	font-size: 36px;
	font-weight: bold;
	text-decoration: none;
	color: #ff0000;
}
.tab-copy {
	color: #333;
}
div#tab_image_wrapper {
	width: 450px;
}
div#tab_image_links {
	text-align: right;
	font-size: 18px;
	font-weight: bold;
	padding-top: 8px;
}
div#tab_image_links a {
	color: #8cc3d2;
	text-decoration: none;
	margin: 0 -2px;
}
div#tab_image_links a.active {
	color: #ff0000;
	text-decoration: none;
}
div#project_url {
	float: left;
	margin-top: 6px;
}
div#project_url a:link,
div#project_url a:visited {
	font-size: 11px;
	color: #999;
	font-weight: normal;
	margin: 0;
}
div#project_url a:hover {
	font-size: 11px;
	color: #ff0000;
	font-weight: normal;
	margin: 0;
}
div#project_url a:active {
	font-size: 11px;
	color: #999;
	font-weight: normal;
	margin: 0;
}
div#project_admin {
	position: absolute;
	top: 10px;
	right: 20px;
}

/***************
* Contact Us
****************/
.contact div#content {
	margin: 0 153px 0 300px;
}
.contact div#sidebar {
	width: 150px;
}
.contact div#submenu{
	margin-top: 65px;
}
div#inquiry_form {
	width: 32.2em;
	margin: 35px 0 15px 0;
}
div#inquiry_form table {
	width: 32.2em;
}
div#contact_info {
	margin-top: 60px;
}
div#inquire_caption {
	margin-top: 65px;
}
.contact #content label {
	color: #ff0000;
	text-transform: lowercase;
	margin-top: 8px;
}
#inquiry_form .right-col {
	width: 13.1em;
}
.contact #content input, .contact #content textarea {
	border: 1px solid #000;
	margin: 5px 0 8px 0;
}
.contact #content textarea {
	width: 100%;
}
.contact #content #contact-submit {
	text-align: right;
}
.contact #content #contact-submit input {
	border: 0;
	padding: 0;
}
.errorExplanation li {
	color: #ff0000;
	list-style-image: url(../images/fail.png);
	list-style-position: inside;
}
.errorExplanation img {
	vertical-align: middle;
}
.fieldWithErrors input {
	background: #fcfccc;
}

/***************
* Footer stuff
****************/

#blog_posts img {
	float: left;
}
.blog-post {
	float: left;
	width: 130px;
	font-size: 10px;
	padding: 7px 0 0 5px;
}
#client_login {
	float: left;
	width: 225px;
}
#fyi_wrapper img {
	float: left;
}
#fyi {
	float: left;
	width: 130px;
	font-size: 10px;
	padding: 7px 0 0 5px;
}
/***************
* Admin login
****************/
.admin div#content {
	margin: 0 0 0 85px;
}
.admin div#sidebar {
	width: 0px;
}
.admin div#submenu{
	margin-top: 82px;
}
.admin #please-login {
	margin-top: 100px;
}
.admin table {
	margin: 25px 0 0 38px;
}
.admin td {
	padding: 2px 0;
}
.admin .label {
	width: 60px;
	color: #999;
	text-transform: lowercase;
}
.admin .error {
	color: #ff0000;
}
.admin #submit {
	text-align: right;
	padding-top: 15px;
}