<% # Begin Config section %>
<% content_for :title do %>COMMAND C :: who we are<% end %>
<% content_for :bodyclass do %>about<% end %>
<% # End Config section %>

<p><span class="blue bold">COMMAND C</span> design, LLC is a comprehensive creative services firm committed to creating accessible marketing solutions that fuse your business mission with cutting-edge design.</p>

<p>We will manage your branding and identity, website design and maintenance,  hosting, graphic design, and photography needs.</p>

<p>Our design aesthetic evolves from a reverence of history, coupled with passion about the journey into the unknown of the future. We seek to combine classic and contemporary design styles to provide our clients with intelligent and effective web and print solutions.</p>

<p>Our mission is to produce unique designs that get results.</p>

<p>We believe in the power of communication. From the onset of each project, our designers are accessible to our clients, working in tandem to build a deep understanding of their enterprise and mission, from concept to launch.</p>

<p>In a world of constant change and challenge, <span class="blue bold">COMMAND C&rsquo;s</span> vision remains clear and focused:</p>

<p class="bold">To provide our clients with exceptional design services both today and tomorrow.</p>

<% content_for :sidebar do %>
	<%= render :partial => "common/portfoliolink" %>
	<%= image_tag "about-rabbit.gif", :size => "147x374", :id => "about-rabbit", :alt => "COMMAND C rabbit with left-facing bracket" %>
<% end %>