<% # Begin Config section %>
<% content_for :title do %>COMMAND C > Who We Are<% end %>
<% content_for :bodyclass do %>about<% end %>
<% # End Config section %>

<%= image_tag 'the-scoop.gif', :id => "the_scoop", :size => "301x62", :alt => "the scoop" %>
<div class="copy">
	<p class="top"><span class="bold red">COMMAND C</span> design, LLC is a comprehensive creative services firm committed to creating accessible marketing solutions that fuse your business mission with cutting-edge design. We will manage your branding and identity, website design and maintenance,  hosting, graphic design, and photography needs.</p>
	<p>Our mission is to produce unique designs that get results. In a world of constant change and challenge, <span class="bold red">COMMAND C&rsquo;s</span> vision remains clear and focused:</p>
	<p class="bold">To provide our clients with exceptional design services both today and tomorrow.</p>
</div>
<% content_for :sidebar do %>
	<%= render :partial => "common/portfoliolink" %>
	<%= image_tag "big-slim-with-text.gif", :size => "239x366", :id => "about-rabbit", :alt => "This is Slim. Slim works for us, mostly holding signs and stuff" %>
<% end %>