<% # Begin Config section %>
<% content_for :title do %>COMMAND C > Who We Are<% end %>
<% content_for :bodyclass do %>about<% end %>
<% # End Config section %>

<%= image_tag 'the-scoop.gif', :id => "the_scoop", :size => "300x63", :alt => "the scoop" %>
<div class="copy">
	<p class="top"><span class="bold red">COMMAND C</span>design, LLC is a comprehensive creative <br />services firm, bringing accessible marketing solutions <br />that fuse your business mission with cutting edge design. <br />We will manage your <strong>website design, ecommerce, <br />branding + identity, search engine optimization (SEO), <br />internet marketing, commercial photography, hosting <br /></strong> and <strong>website maintenance</strong>.</p>
	<p>Our mission is to produce unique designs with a quality you <br />can quantify. In a world of constant change and challenge, <br /><span class="bold red">COMMAND C&rsquo;s</span> vision remains clear and focused:</p>
	<p class="bold">To provide our clients with exceptional design and <br />development services both today and tomorrow.</p>
</div>
<% content_for :sidebar do %>
	<%= render :partial => "common/portfoliolink" %>
	<%= image_tag "big-slim-with-text.gif", :size => "239x366", :id => "about-rabbit", :alt => "This is Slim. Slim works for us, mostly holding signs and stuff" %>
<% end %>