<% # Begin Config section %>
<% content_for :title do %>COMMAND C<% end %>
<% content_for :bodyclass do %>home<% end %>
<% # End Config section %>

<div class="copy">
	<p><span class="bold red">COMMAND C</span> will manage your 
	<strong>
	website design, 
	ecommerce,
	branding + identity, 
	search engine optimization (SEO), 
	internet marketing, 
	commercial photography,
	</strong> and <strong>
	website maintenance
	</strong> needs 
	with customer service so personalized, 
	it will make all of<br />the other relationships 
	in your life seem lacking.<br />Don&#x27;t blame 
	us for the ensuing couple&#x27;s therapy,<br />
	we can't help it if you fall in love…</p>
</div>
<%= link_to image_tag( 'goodstuff.gif', :size => "389x50", :alt => "the good stuff", :mouseover => 'goodstuff_ro.gif'), project_path(@first_project) %>

<% content_for :sidebar do %>
	<% if @recent_projects %>
		<div id="recent-projects">
			<div class="larger bold">recent projects:</div>
			<% for project in @recent_projects %>
				<% div_for project, :class => "recent-project" do %>
					<% project_category_id = project.categories.first.id %>
					<%= link_to image_tag(project.imagefile.public_filename(:project_thumb)), project_path(project) %>
					<div class="small">
						>> <%= link_to project.name, project_path(project) %>
					</div>
				<% end %>
			<% end %>
		</div>
	<% end %>
<% end %>
