<% # Begin Config section %>
<% content_for :title do %>COMMAND C > Unrecognized Path<% end %>
<% content_for :meta_tags do %>
	<%= render :partial => "common/default_seo" %>
<% end %>
<% content_for :alt_prefix do %>
	<%= render :partial => "common/default_alt_prefix" %>
<% end %>
<% content_for :bodyclass do %>about<% end %>
<% # End Config section %>

<div class="copy">
	<p class="top">This URL does not exist on the <span class="bold red">COMMAND C</span> website. Please visit our <%= link_to 'homepage', home_path %>. Thanks.</p>
</div>