<div class="modal">
	<p class="large bold">your inquiry has been received.<br />
	we'll get back to you shortly.</p>
	<%= image_tag 'big-rabbit.png', :size => "173x484", :alt => "custom web site design: big rabbit", :id => "big-rabbit" %>
	<%= link_to_hide_overlay 'close X', new_inquiry_path %>
</div>