<% # Begin Config section %>
<% content_for :title do %>COMMAND C > Contact Us<% end %>
<% content_for :bodyclass do %>contact<% end %>
<% # End Config section %>

<h1 class="bold large">inquiry/get a quote</h1>
<div class="small line-below">please fill out your information in the form below to request a quote</div>
<div id="inquiry_form">
 <%= render :partial => "contact_form", :locals => { :inquiry => @inquiry} %>
</div>
<% content_for :sidebar do %>
	<%= render :partial => "common/portfoliolink" %>
<% end %>
