<% # Begin Config section %>
<% content_for :title do %>
	Custom Web Site Design, Professional Web site Design, Ecommerce Web site Design, SEO Services
<% end %>
<% content_for :meta_tags do %>
	<meta name="description" content="High quality custom web site design, professional web site design, ecommerce web site design, & SEO services at affordable prices.  Command C offers unique custom website design appeal. Williamsburg, Brooklyn, NY, New York">
	<meta name="keywords" content="custom magento ecommerce, custom web site design, custom web site design services, custom website design, custom website design services, web site design, website design, professional web site design,  ecommerce web site design, ecommerce website design, affordable website design, professional website design, professional web site design, seo, seo services, search engine optimization, search engine optimisation, command c, commandc, ny, new york, williamsburg, brooklyn">
<% end %>
<% content_for :bodyclass do %>contact<% end %>
<% # End Config section %>

<div id="inquiry_form">
 <%= render :partial => "contact_form", :locals => { :inquiry => @inquiry} %>
</div>

<% content_for :submenu do %>
	<div id="submenu">
		<%= image_tag 'inquire.gif', :class => 'submenu-heading', :size => '204x63', :alt => 'inquire' %>
		<div id="inquire_caption" class="small">please fill out this form to request a quote</div>
		<div id="contact_info">
			<p class="large bold">email us:<br /><span class="red">info@commandc.com</span></p>
			<p class="large bold">call us:<br /><span class="red">347.844.9208</span></p>
		</div>
	</div><!-- EOF DIV 'submenu' -->
<% end %>

<% content_for :sidebar do %>
	<%= render :partial => "common/portfoliolink" %>
<% end %>
