<form method="post" action="http://commandc.com/clientspace/index.php">
    <label for="username">clients:</label><br />
    <input id="username" type="text" name="username" size="10" tabindex="1" />
    <input id="password" type="password" name="password" size="10" tabindex="2" /><br />
    <input id="submit" name="submit" type="image" value="Login" src="http://commandc.com/images/button_login.gif" align="top" tabindex="3" />
</form>