<div id="scroll_buttons">
	<%= image_tag 'scroll-up.gif', :mouseover => 'scroll-up_ro.gif', :id => "scroll_up", :size => "13x11", :alt => yield(:alt_prefix) + "scroll up" %>
	<%= image_tag 'scroll-down.gif', :mouseover => 'scroll-down_ro.gif', :id => "scroll_down", :size => "13x11", :alt => yield(:alt_prefix) + "scroll down" %>
</div>